.cabecalho__menu-hamburguer{
    width: 50px;
    height: 50px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.cabecalho{
    background-color: var(--branco);
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.5rem;
    position: relative;

}
.container{
    display: flex;
    align-items: center;
}
.container__imagem{
    padding: 1em;
}
.lista-menu{
    display:none;
    position:absolute;
    top:100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu{
    display:block;
}
.lista-menu__titulo, .lista-menu__item{
    background-color: var(--branco);
    padding: 1em;
}
.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
    font-size: 16px;
}
.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-family: var(--fonte-principal);

}
.container__botao{
    display: none;
}
