.topicos{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding:1em 0;
}
.topicos__titulo{
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 2em;
}
.topicos__lista{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topicos__itens{
    background-color: var(--laranja);
    margin: 0.5em 0.5em;
    padding: 1.5em;
}
.topicos__link{
    color: var(--branco);
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}